a {
	color: $primary;

	&:hover,
	&:focus {
		color: $gray-medium;
	}
}


a.icon {
	color: $gray-medium;

	&:hover,
	&:focus {
		color: $primary;
	}
}

em {
	font-style: normal;
	color: $primary;
	font-weight: bold;
}