#main-body {

	h2 {
		font-size: 5rem;
		color: $black;
	}

	article {

		@include clearfix;
		margin-top: 80px;
		padding-top: 80px;
		border-top: 1px solid $gray-medium;

		p,
		li {
			font-size: 2.1rem;
		}

		ul {
			margin-top: 2em;
		}

		li {
			padding-right: 1em;
			padding-left: 1em;
		}

		img {
			max-width: 50%;
		}

	}

	article:nth-child(odd) {
		
		img {
			float: right;
			margin-left: 2em;
		}

	}

	article:nth-child(even) {
		
		img {
			float: left;
			margin-right: 2em;
		}
	}
}

@media(max-width: $large-screen) {

	 #main-body {
	 	h2 {
	 		font-size: 3rem;
	 	}
	 }

}

@media(max-width: $medium-screen) {

	#main-body {
		article {
			margin-top: 2em;
			padding-top: 2em;
			p,
			li {
				font-size: 1.8rem;
			}
		}
	}

}

@media(max-width: $small-screen) {

	#main-body {
		.fa-3x {
			font-size: 2em;
		}
	}

}

@media(max-width: $xsmall-screen) {

	#main-body {
		article {
			margin-top: 2em;
			padding-top: 2em;
		}
		h2 {
			font-size: 2.5rem;
		}
		.fa-3x {
			font-size: 1.75em;
		}
		ul {
			text-align: center;
		}
	}

}

@media(max-width: $tiny-screen) {

	#main-body {

		article>img {
			float: none;
			max-width: 100%;
			margin-bottom: 2em;
		}
		ul {
			clear: both;
		}
		.fa-3x {}
	}

}
