/**
 * Colors
 **/

 $white: #fff;
 $black: #333;


/**
 * Media Queries
 **/

 $xlarge-screen: 1200px;
 $large-screen: 991px;
 $medium-screen: 768px;
 $small-screen: 668px;
 $xsmall-screen: 640px;
 $tiny-screen: 375px;

