/**
 * Colors
 **/

$white: #fff;
$black: #333;

$primary: #e53623;
$secondary: #10124d;
$tertiary: #ee8805;
$highlight: #939EBA; // green #4D905D
$shading: #E8BE67;

// Grays
$gray-light: #eee;
$gray-medium: #ccc;
$gray-dark: #777;


/**
 * Media Queries
 **/

$xlarge-screen: 1200px;
$large-screen: 991px;
$medium-screen: 768px;
$small-screen: 668px;
$xsmall-screen: 640px;
$tiny-screen: 375px;