/**
 * Header
 **/

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/another-world-is-possible.png') no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#main-header {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/another-world-is-possible.png') no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    h1,
    h2 {
        @include rgba-background($white, 0.9);
        text-align: center;
    }

    h1 {
        margin-top: 1.1em;
        font-size: 13rem;
    }

    h2 {
        margin-bottom: 1.5em;
        font-size: 7.7rem;
    }

}

@media(max-width: $xlarge-screen) {}


@media(max-width: $large-screen) {
     #main-header {
        h1 {
            font-size: 10.5rem;
        }

        h2 {
            font-size: 5rem;
        }
    }   
}

@media(max-width: $small-screen) {
    #main-header {
        h1 {
            margin-top: 2em;
            font-size: 7rem;
        }

        h2 {
            margin-bottom: 2em;
            font-size: 3.2rem;
        }
    }
}

@media(max-width: $xsmall-screen) {
    #main-header {
        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 3rem;
        }
    }
}


.headline {
    padding: 120px 0;
}

.headline h1,
.headline h2 {
    @include rgba-background($white, 0.9);
}

.headline h1 {
    font-size: 130px;
}

.headline h2 {
    font-size: 77px;
}

@media(max-width: $xlarge-screen) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }
}

@media(max-width: $large-screen) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

}

@media(max-width: $small-screen) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

}

@media(max-width: $xsmall-screen) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

